{% extends 'base.html' %}
{% block title %}
	Log List
{% endblock %}

{% block content %}
	<h1>Log List</h1>
	<button id="print">yeah</button>
	<div id="table-div">
		
	</div>
	{% load static %}
	<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
	<script type="text/javascript">
		let log_data;

		async function setData(){
			const res = await fetch('{{domain}}');
			const data = await res.json();

			log_data = data;
		}

		document.getElementById('print').addEventListener('click', () => {
			createTable();
			console.log(log_data);
		})

		setData();

		const contact_properties = ['first_name', 'last_name', 'sex', 'phone', 'email', 'address'];
		const log_properties = ['temperature', 'date'];
		function createTable(){
			let table = document.createElement('TABLE');
			table.className = 'table table-striped';

			log_data['logs'].forEach((log, i) => {
				let row = table.insertRow(i);
				row.id = i;
				// a function to handle when its clicked
				// row.onclick = some_function
				const qr_code = log['qr_code'];
				const contact = log_data['contacts'][qr_code];
				contact_properties.forEach((property, j) => {
					const property_value = contact[property];
					// console.log(contact);
					const cell = row.insertCell(j);
					cell.innerHTML = property_value;
				});

				log_properties.forEach((property, j) => {
					const property_value = log[property];
					// console.log(contact);
					const cell = row.insertCell(j);
					cell.innerHTML = property_value;
				});


			});
			tableDiv.innerHTML = '';
			tableDiv.appendChild(table);
		}

		const tableDiv = document.getElementById('table-div');
	</script>
{% endblock %}