{% extends 'base.html' %}
{% block title %}
	Get QR Code
{% endblock %}
{% load static %}
{% block content %}
	<h1>Get your QR code</h1>
	<div id="form-div">
		<p>Please provide your email and phone number that you used in your registration</p>

		<label for="email">Email</label>
		<input type="text" name="email" id="email"><br>

		<label for="phone">Phone</label>
		<input type="text" name="phone" id="phone"><br>

		<button id="submit">get qr code</button>		
	</div>
	<div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div>
	<div id="information-div">
		<b>Name</b>:<label id="name"></label>
	</div>
	<a href="{{home_domain}}" class="btn btn-success">Home</a>

	<script type="text/javascript" src="{% static 'js/qrcode.min.js' %}"></script>


	<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

	<script type="text/javascript">
		let email 			= document.getElementById('email');
		let phone 			= document.getElementById('phone');
		let button 			= document.getElementById('submit');
		let informationDiv 	= document.getElementById('information-div');

		window.addEventListener("load", () => {
			mapboxgl.accessToken = "pk.eyJ1IjoiamF5dmVlMjkxOTk4IiwiYSI6ImNsMHA1YzlhNzAzcHczZG5pMHd6dDZjZ3YifQ.MiDcnGldWwcAs2aTm1lQvA";
			let succeed = (pos) =>{
				console.log(pos.coords);
				console.log(pos.coords.longitude);
				console.log(pos.coords.latitude);
				let map = new mapboxgl.Map({
					container: "map",
					style: "mapboc://style/mapbox/streets-v11",
					center: [pos.coords.longitude, pos.coords.latitude],
					zoom: 13
				})

				let marker = new mapboxgl.Marker()
				 .setLngLat[pos.coords.longitude, pos.coords.latitude]
				 .addTo(map);
			};

			let failure = (err) => {
				console.log(err);
			};

			let options = {
				enableHighAccuracy: true,
				timeout: 5000,
				maximumAge: 0
			};

			navigator.geolocation.getCurrentPosition(succeed, failure, options);
		});

		let qrcode = new QRCode(document.getElementById("qrcode"), {
			width : 100,
			height : 100
		});

		button.onclick = async () => {
			const res = await fetch('{{domain}}?email='+email.value+'&phone='+phone.value);
			const data = await res.json();
			qrcode.makeCode(data['qr_code']);
			displayContactInfo(data);
			console.log(data);
		}

		function displayContactInfo(data){
			// informationDiv.innerHTML = `
			// 	<b>Name</b>: ${data['first_name']} ${data['last_name']}<br>
			// 	<b>Sex</b>: ${data['sex']}<br>
			// 	<b>Address</b>: ${data['address']}<br>
			// 	<b>Phone</b>: ${data['phone']}<br>
			// 	<b>Email</b>: ${data['email']}<br>
			// 	<b>Birthdate</b>: ${data['birthdate']}<br>
			// `;
			displayInfo(['Name', 'Sex', 'Address', 'Phone', 'Email', 'Birthdate'], [`${data['first_name']} ${data['last_name']}`, data['sex'], data['address'], data['phone'], data['email'], data['birthdate']], informationDiv);
		}
		// a function that displays information like the ff
		// <b>Label</b>: data
		function displayInfo(labels, data, div){
			if(labels.length != data.length) throw new Error("Labels and data length are not the same");
			div.innerHTML = "";
			for(let i = 0; i < labels.length; i++){
				let b = document.createElement("B");
				b.innerText = labels[i]+": ";
				let p = document.createElement("P");
				p.textContent = data[i];
				div.appendChild(b);
				div.appendChild(p);
			}
		}

	</script>
	<div id="map">
		
	</div>

{% endblock %}