{% extends 'base.html' %}
{% block title %}
	Log List
{% endblock %}

{% block content %}
	<h1>Log List</h1>
	<button id="print">yeah</button>
	{% load static %}
	<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
	<script type="text/javascript">
		let log_data;

		async function setData(){
			const res = await fetch('{{domain}}');
			const data = await res.json();

			log_data = data;
		}

		document.getElementById('print').addEventListener('click', () => {
			console.log(log_data);
		})
	</script>
{% endblock %}