{% extends 'base.html' %}
{% block title %}
	QR Scanner
{% endblock %}
{% block content %}
	<h1>QR Scanner</h1>
	<div>
	    <video id="qr-video"></video>
	    <br>
	    <label>
	        <input id="show-scan-region" type="checkbox">
	        Show scan region
	    </label>
	</div>

	<b>Detected QR code: </b>
	<span id="cam-qr-result">None</span>
	<br>
	<b>Last detected at: </b>
	<span id="cam-qr-result-timestamp"></span>
	<br>
	<button id="start-button">Start</button>
	<button id="stop-button">Stop</button>
	{% load static %}
	<script src="{% static 'js/qr-scanner.umd.min.js' %}"></script>

	<script>
	    QrScanner.WORKER_PATH = "{% static 'js/qr-scanner-worker.min.js' %}";
	    const video = document.getElementById('qr-video');
	    const camQrResult = document.getElementById('cam-qr-result');
	    const camQrResultTimestamp = document.getElementById('cam-qr-result-timestamp');

	    function setResult(label, result) {
	        label.textContent = result;
	        camQrResultTimestamp.textContent = new Date().toString();
	        label.style.color = 'teal';
	        clearTimeout(label.highlightTimeout);
	        label.highlightTimeout = setTimeout(() => label.style.color = 'inherit', 100);
	    }

	    // ####### Web Cam Scanning #######

	    const scanner = new QrScanner(video, result => setResult(camQrResult, result), error => {
	        camQrResult.textContent = error;
	        camQrResult.style.color = 'inherit';
	    });

	    const updateFlashAvailability = () => {
	        scanner.hasFlash().then(hasFlash => {
	            camHasFlash.textContent = hasFlash;
	            flashToggle.style.display = hasFlash ? 'inline-block' : 'none';
	        });
	    };

	    scanner.start().then(() => {
	        updateFlashAvailability();
	        // List cameras after the scanner started to avoid listCamera's stream and the scanner's stream being requested
	        // at the same time which can result in listCamera's unconstrained stream also being offered to the scanner.
	        // Note that we can also start the scanner after listCameras, we just have it this way around in the demo to
	        // start the scanner earlier.
	        QrScanner.listCameras(true).then(cameras => cameras.forEach(camera => {
	            const option = document.createElement('option');
	            option.value = camera.id;
	            option.text = camera.label;
	            camList.add(option);
	        }));
	    });


	    // for debugging
	    window.scanner = scanner;

	    // show the scan region of the qr code scanner
	    document.getElementById('show-scan-region').addEventListener('change', (e) => {
	        const input = e.target;
	        const label = input.parentNode;
	        label.parentNode.insertBefore(scanner.$canvas, label.nextSibling);
	        scanner.$canvas.style.display = input.checked ? 'block' : 'none';
	    });

	    document.getElementById('start-button').addEventListener('click', () => {
	    	// start the qr scanner
	        scanner.start();
	    });

	    document.getElementById('stop-button').addEventListener('click', () => {
	    	// stop the qr scanner
	        scanner.stop();
	    });
	</script>
{% endblock %}